.leaderboard-card {
  border: 4px solid black;
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto auto auto;
  padding: 30px;
  text-align: center;
}

.leaderboard-card h3 {
  display: inline;
  font-size: 24px;
  padding-right: 40px;
}

.leaderboard-card h2 {
  color: red;
  display: inline;
  font-size: 24px;
  padding-right: 40px;
}

.leaderboard-card p {
  display: inline;
  color: black;
  font-size: 18px;
  padding: 40px;
}

.leaderboard-header {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
